.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Roboto Mono", monospace;
}
form {
  width: 45%;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.6px;
}
.Table-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5%;
}
.Input-Field {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.errorMessage {
  font-size: medium;
  color: red;
}
input {
  border: 2px solid black;

  height: 30px;
  color: black;
}
input:focus {
  background-color: grey;
  color: white;
}
.SubmitButton {
  height: 50px;
  width: 100px;
  background-color: #61dafb;
  border-radius: 0;
  border: 0;
  font-family: "Roboto Mono", monospace;
  font-size: large;
  color: white;
}
.SubmitButton:hover {
  background-color: black;
}
